/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2e8555;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

/* Default Tabs layout (horizontal flex) */
.tabs {
  display: flex;
}

/* Centered Tabs variant */
.tabs-center {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.tabs-center .tabs__item {
  text-align: center;
}

/* Hide the original "Recent posts" text in the blog sidebar */
.sidebarItemTitle_pO2u {
  font-size: 0;
  color: transparent;
}

/* Insert a custom Chinese label using a pseudo-element */
/* .sidebarItemTitle_pO2u::before {
  content: "最新更新";
  display: inline-block;
  font-size: 1rem;
  color: var(--ifm-color-emphasis-900);
  visibility: visible;
} */

/* Automatically add numbering to section headings h2 - h4, except those with .no-counter */
.markdown {
  counter-reset: h2;
}
.markdown h2 {
  counter-increment: h2;
  counter-reset: h3;
}
.markdown h2:not(.no-counter)::before {
  content: counter(h2) ". ";
}
.markdown h3 {
  counter-increment: h3;
  counter-reset: h4;
}
.markdown h3:not(.no-counter)::before {
  content: counter(h2) "." counter(h3) " ";
}
.markdown h4 {
  counter-increment: h4;
}
.markdown h4:not(.no-counter)::before {
  content: counter(h2) "." counter(h3) "." counter(h4) " ";
}

/* Custom font settings */
:root {
  --ifm-font-family-base:
    "PingFang SC",
    system-ui,

  --ifm-font-family-monospace:
    "PingFang SC",
    system-ui,
}

/* Styles for sidebar navigation items for better readability */
.theme-doc-sidebar-item-category > .menu__list-item-collapsible,
.theme-doc-sidebar-item-link > .menu__link {
   font-size: 16px; /* Consistent font size for sidebar items */
}

/* Ensure tables take full width of their container */
table {
  width: 100% !important;        /* Make table span full width */
  display: table !important;     /* Ensure table display property is set */
}
